<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>ScaleCloud.de</h2>
            <h4>support@scalecloud.de</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="ScaleCloud.de">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>home</mat-icon>
        Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/nextcloud">Nextcloud</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/synology">Synology</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
</mat-nav-list>