<mat-nav-list>
    <mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded || isShowing">Home</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h2 matSubheader>Buy</h2>
    <mat-list-item routerLinkActive="list-item-active" routerLink="/nextcloud">
        <mat-icon mat-list-icon>cloud</mat-icon>
        <span *ngIf="isExpanded || isShowing">Nextcloud</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" routerLink="/synology">
        <mat-icon mat-list-icon>cloud</mat-icon>
        <span *ngIf="isExpanded || isShowing">Synology</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h2 matSubheader>Help</h2>
    <mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
        <mat-icon mat-list-icon>email</mat-icon>
        <span *ngIf="isExpanded || isShowing">Contact</span>
    </mat-list-item>
</mat-nav-list>