<mat-nav-list>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <div class="icon-text">
      <mat-icon mat-icon-button>home</mat-icon>
      @if (isExpanded || isShowing) {
        <span>Home</span>
      }
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h2 matSubheader>Buy</h2>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/nextcloud">
    <div class="icon-text">
      <mat-icon mat-list-icon>cloud</mat-icon>
      @if (isExpanded || isShowing) {
        <span>Nextcloud</span>
      }
    </div>
  </mat-list-item>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/synology">
    <div class="icon-text">
      <mat-icon mat-list-icon>cloud</mat-icon>
      @if (isExpanded || isShowing) {
        <span>Synology</span>
      }
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h2 matSubheader>Help</h2>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
    <div class="icon-text">
      <mat-icon mat-list-icon>email</mat-icon>
      @if (isExpanded || isShowing) {
        <span>Contact</span>
      }
    </div>
  </mat-list-item>
</mat-nav-list>