<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <a routerLink="/">
            <img src="assets/img/logo/logo-white-48.png" alt="ScaleCloud.de">
            ScaleCloud.de
        </a>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <div *ngIf="auth.user$ | async as user; else login">
                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>person_outline</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>dashboard</mat-icon>
                                Dashboard
                            </button>
                            <button mat-menu-item (click)="auth.signOut()">
                                <mat-icon>logout</mat-icon>
                                Logout
                            </button>
                        </mat-menu>
                    </div>
                    <ng-template #login>
                        <button mat-button (click)="auth.googleSignin()">
                            <mat-icon>login</mat-icon>
                        </button>
                    </ng-template>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>