<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">
            <img src="assets/img/logo/logo-white-48.png" alt="ScaleCloud.de">
            ScaleCloud.de
        </a>
        <span class="fill-remaining-space"></span>
        <div>
            <div *ngIf="authService.getUser(); else login">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/dashboard">
                        <mat-icon>dashboard</mat-icon>
                        Dashboard
                    </button>
                    <button mat-menu-item (click)="authService.signOut()">
                        <mat-icon>logout</mat-icon>
                        Logout
                    </button>
                </mat-menu>
            </div>
            <ng-template #login>
                <button mat-stroked-button routerLink="/login">
                    <mat-icon>login</mat-icon>
                    Login
                </button>
            </ng-template>
        </div>
    </mat-toolbar-row>
</mat-toolbar>