ul li {
    list-style: none;
}

img {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 255, 255);
}

a:active {
    color: rgb(255, 255, 255);
}

button {
    background-color: transparent;
    border: none;
}

.fill-remaining-space {
    flex: auto;
}

.large-button {
    font-size: 1.3rem;
    height: 4rem;
}

.large-icon {
    height: 1.3rem !important;
    width: 1.3rem !important;
    font-size: 1.3rem !important;
}