<mat-card>
    @if (serviceStatus === ServiceStatus.Loading) {
    <mat-progress-bar mode="query"></mat-progress-bar>
    <mat-card-title>
        Payment Method
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <ngx-skeleton-loader [theme]="{height: '2rem', width: '19rem'}" />
            </mat-list-item>
            <mat-list-item>
                <ngx-skeleton-loader [theme]="{height: '2rem', width: '19rem'}" />
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    }
    @if (serviceStatus === ServiceStatus.Success) {
    <mat-card-title>
        Payment Method
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        @if (hasPaymentMethod()) {
        <mat-list>
            <mat-list-item>
                @if ( isCreditCard() ) {
                @if ( isAmericanExpress() ) {
                <img src="assets/img/logo/payment/amex_logo.png" alt="American Express Logo">{{getPaymentMethod()}}
                }
                @else if ( isDinersClub() ) {
                <img src="assets/img/logo/payment/dinersclub_logo.svg" alt="Diners Club Logo">{{getPaymentMethod()}}
                }
                @else if ( isDiscover() ) {
                <img src="assets/img/logo/payment/discover_logo.jpg" alt="Discover Logo">{{getPaymentMethod()}}
                }
                @else if ( isEFTPOS() ) {
                <img src="assets/img/logo/payment/eftpos_logo.png" alt="eftpos Australia Logo">{{getPaymentMethod()}}
                }
                @else if ( isJCB() ) {
                <img src="assets/img/logo/payment/jcb_logo.gif"
                    alt="Japan Credit Bureau (JCB) Logo">{{getPaymentMethod()}}
                }
                @else if ( isUnionPay() ) {
                <img src="assets/img/logo/payment/union_logo.svg" alt="UnionPay Logo">{{getPaymentMethod()}}
                }
                @else if ( isMasterCard() ) {
                <img src="assets/img/logo/payment/mastercard_logo.png" alt="MasterCard Logo">{{getPaymentMethod()}}
                }
                @else if ( isVisa() ) {
                <img src="assets/img/logo/payment/visa_logo.png" alt="Visa Logo">{{getPaymentMethod()}}
                }
                @else if ( isUnknownCreditCard() ) {
                <div class="icon-text">
                    <mat-icon>credit_card</mat-icon>{{getPaymentMethod()}}
                </div>
                }
                @else {
                <div class="icon-text">
                    <mat-icon>credit_card</mat-icon>{{getPaymentMethod()}}
                </div>
                }
                }
                @else if (isSEPA()) {
                <img src="assets/img/logo/payment/sepa_logo.jpg" alt="SEPA Logo">{{getPaymentMethod()}}
                }
                @else if (isPayPal() ) {
                <img src="assets/img/logo/payment/paypal_logo.png" alt="PayPal Logo">{{getPaymentMethod()}}
                }
                @else {
                <div class="icon-text">
                    <mat-icon>credit_card</mat-icon>{{getPaymentMethod()}}
                </div>
                }
            </mat-list-item>
        </mat-list>
        }
    </mat-card-content>
    <mat-card-actions>
        <button (click)="openUrlChangePaymentMethod()" mat-stroked-button color="primary">
            @if( hasPaymentMethod() ) {
            Change payment method
            }
            @else {
            Add payment method
            }
        </button>
    </mat-card-actions>
    }
    @if ( serviceStatus === ServiceStatus.Error ) {
    <div class="flex-container">
        <div class="flex-item" *ngFor="let i of [0, 1, 2, 3]">
            <app-loading-failed></app-loading-failed>
        </div>
    </div>
    }
</mat-card>