<mat-card>
  @if (serviceStatus() === ServiceStatus.Loading) {
    <mat-progress-bar mode="query" />
    <mat-card-title>Payment Method</mat-card-title>
    <mat-divider />
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <ngx-skeleton-loader [theme]="{ height: '2rem', width: '19rem' }" />
        </mat-list-item>
        <mat-list-item>
          <ngx-skeleton-loader [theme]="{ height: '2rem', width: '19rem' }" />
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  }

  @if (serviceStatus() === ServiceStatus.Success) {
    <mat-card-title>Payment Method</mat-card-title>
    <mat-divider />
    <mat-card-content>
      @if (hasPaymentMethod()) {
        <mat-list>
          <mat-list-item>
            @if (isCreditCard()) {
              @switch (true) {
                @case (isAmericanExpress()) {
                  <img src="assets/img/logo/payment/amex_logo.png" alt="American Express Logo" />
                }
                @case (isDinersClub()) {
                  <img src="assets/img/logo/payment/dinersclub_logo.svg" alt="Diners Club Logo" />
                }
                @case (isDiscover()) {
                  <img src="assets/img/logo/payment/discover_logo.jpg" alt="Discover Logo" />
                }
                @case (isEFTPOS()) {
                  <img src="assets/img/logo/payment/eftpos_logo.png" alt="eftpos Australia Logo" />
                }
                @case (isJCB()) {
                  <img src="assets/img/logo/payment/jcb_logo.gif" alt="Japan Credit Bureau (JCB) Logo" />
                }
                @case (isUnionPay()) {
                  <img src="assets/img/logo/payment/union_logo.svg" alt="UnionPay Logo" />
                }
                @case (isMasterCard()) {
                  <img src="assets/img/logo/payment/mastercard_logo.png" alt="MasterCard Logo" />
                }
                @case (isVisa()) {
                  <img src="assets/img/logo/payment/visa_logo.png" alt="Visa Logo" />
                }
                @default {
                  <mat-icon>credit_card</mat-icon>
                }
              }
              {{ paymentMethodDisplay() }}
            } @else if (isSEPA()) {
              <img src="assets/img/logo/payment/sepa_logo.jpg" alt="SEPA Logo" />
              {{ paymentMethodDisplay() }}
            } @else if (isPayPal()) {
              <img src="assets/img/logo/payment/paypal_logo.png" alt="PayPal Logo" />
              {{ paymentMethodDisplay() }}
            } @else {
              <mat-icon>credit_card</mat-icon>
              {{ paymentMethodDisplay() }}
            }
          </mat-list-item>
        </mat-list>
      }
    </mat-card-content>
    <mat-card-actions>
      <button (click)="openUrlChangePaymentMethod()" mat-stroked-button color="primary">
        {{ hasPaymentMethod() ? 'Change payment method' : 'Add payment method' }}
      </button>
    </mat-card-actions>
  }
</mat-card>

@if (serviceStatus() === ServiceStatus.Error) {
  <app-loading-failed />
}