.product-logo-div {
    height: 5rem;
}
.product-logo {
    max-width:100%;
    max-height:100%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}

mat-card-title {
    font-size: 5rem;    
}

.price-month {
    font-size: 100px;
    color: green;
}

mat-card-subtitle {
    font-size: xx-large;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.product-card {
    max-width: 400px;
    text-align: center;
}

mat-icon {
    padding-right: 1rem;
}

mat-card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
    .front {
        opacity: 0;
        visibility: hidden;
    }
    .back {
        opacity: 1 !important;
        visibility: visible !important;
        a.button {
            transform: translateY(0px) !important;
        }
    }
}
