<div class="strenght-item">
  @if (containsLower()) {
    <mat-icon class="icon-green">check_circle</mat-icon>
  } @else {
    <mat-icon class="icon-red">error</mat-icon>
  }
  {{getMessageLower()}}
</div>
<div class="strenght-item">
  @if (containsUpper()) {
    <mat-icon class="icon-green">check_circle</mat-icon>
  } @else {
    <mat-icon class="icon-red">error</mat-icon>
  }
  {{getMessageUpper()}}
</div>
<div class="strenght-item">
  @if (containsDigit()) {
    <mat-icon class="icon-green">check_circle</mat-icon>
  } @else {
    <mat-icon class="icon-red">error</mat-icon>
  }
  {{getMessageDigit()}}
</div>
<div class="strenght-item">
  @if (containsSpecial()) {
    <mat-icon class="icon-green">check_circle</mat-icon>
  } @else {
    <mat-icon class="icon-red">error</mat-icon>
  }
  {{getMessageSpecial()}}
</div>
<div class="strenght-item">
  @if (isLength()) {
    <mat-icon class="icon-green">check_circle</mat-icon>
  } @else {
    <mat-icon class="icon-red">error</mat-icon>
  }
  {{getMessageLength()}}
</div>