<div class="strenght-item">
    <ng-container *ngIf="containsLower();  then lower; else noLower">
    </ng-container>
    <ng-template #lower>
        <mat-icon class="icon-green">check_circle</mat-icon>
    </ng-template>
    <ng-template #noLower>
        <mat-icon class="icon-red">error</mat-icon>
    </ng-template>
    {{getMessageLower()}}
</div>
<div class="strenght-item">
    <ng-container *ngIf="containsUpper();  then upper; else noUpper">
    </ng-container>
    <ng-template #upper>
        <mat-icon class="icon-green">check_circle</mat-icon>
    </ng-template>
    <ng-template #noUpper>
        <mat-icon class="icon-red">error</mat-icon>
    </ng-template>
    {{getMessageUpper()}}
</div>
<div class="strenght-item">
    <ng-container *ngIf="containsDigit();  then digit; else noDigit">
    </ng-container>
    <ng-template #digit>
        <mat-icon class="icon-green">check_circle</mat-icon>
    </ng-template>
    <ng-template #noDigit>
        <mat-icon class="icon-red">error</mat-icon>
    </ng-template>
    {{getMessageDigit()}}
</div>
<div class="strenght-item">
    <ng-container *ngIf="containsSpecial();  then special; else noSpecial">
    </ng-container>
    <ng-template #special>
        <mat-icon class="icon-green">check_circle</mat-icon>
    </ng-template>
    <ng-template #noSpecial>
        <mat-icon class="icon-red">error</mat-icon>
    </ng-template>
    {{getMessageSpecial()}}
</div>
<div class="strenght-item">
    <ng-container *ngIf="isLength();  then length; else noLength">
    </ng-container>
    <ng-template #length>
        <mat-icon class="icon-green">check_circle</mat-icon>
    </ng-template>
    <ng-template #noLength>
        <mat-icon class="icon-red">error</mat-icon>
    </ng-template>
    {{getMessageLength()}}
</div>