mat-card {
    text-align: center;
    transition: all 0.3s ease-in-out;
}

mat-card-title {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

mat-icon {
    padding-right: 1rem;
}

mat-card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.04);
    mat-card-title {
        color: red;
    }
    button {
        color: red;
    }
}

button {
    font-size: 1.2rem;
    width: 100%;
}

.icon-text {
    display: flex;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}