<h1>
    ScaleCloud.de
</h1>
<mat-divider></mat-divider>
<mat-list>
    <mat-list-item>
        <div id="globe">
            <app-globe></app-globe>
        </div>
    </mat-list-item>
</mat-list>
<h2>
    Ready for your Cloud?
</h2>
<div class="flex-container">
    <div class="flex-item">
        <button mat-raised-button color="primary" routerLink="/nextcloud">EXPLORE NEXTCLOUD</button>
    </div>
    <div class="flex-item">
        <button mat-raised-button color="primary" routerLink="/synology">EXPLORE SYNOLOGY</button>
    </div>
</div>