<h1>
    ScaleCloud.de
</h1>
<mat-divider></mat-divider>
<mat-list>
    <mat-list-item>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <div id="globe">
                <app-globe></app-globe>
            </div>
        </div>
    </mat-list-item>
</mat-list>
<h2>
    Ready for your Cloud?
</h2>
<mat-list>
    <mat-list-item>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="center">
            <div fxLayout="row">
                    <button mat-raised-button color="primary" routerLink="/nextcloud">EXPLORE NEXTCLOUD</button>
            </div>
            <div fxLayout="row">
                    <button mat-raised-button color="primary" routerLink="/synology">EXPLORE SYNOLOGY</button>
            </div>
        </div>
    </mat-list-item>
</mat-list>