<mat-card>
    <mat-card-title>
        Success
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div class="icon-text">
                    <mat-icon>credit_card</mat-icon>
                    Your payment method has been saved.
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="icon-text">
                    <mat-icon>dashboard</mat-icon>
                    You can manage your Subscription in your Dashboard.
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/dashboard" mat-stroked-button color="primary">Dashboard</button>
    </mat-card-actions>
</mat-card>