<mat-form-field class="full-width">
  <mat-label>Country</mat-label>
  <input matInput type="text" [formControl]="countryControl" [matAutocomplete]="auto" (blur)="validateCountry()">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCountrySelected($event.option.value)">
    @for (country of filteredCountries | async; track country) {
      <mat-option [value]="getCountryName(country)">
        {{ getCountryName(country) }}
      </mat-option>
    }
  </mat-autocomplete>
  @if (countryControl.hasError('required')) {
    <mat-error>
      Country is required
    </mat-error>
    }@else if (countryControl.hasError('invalidCountry')) {
    <mat-error>
      Invalid country
    </mat-error>
  }
</mat-form-field>