<mat-card>
    @if (serviceStatus === ServiceStatus.Loading) {
    <mat-progress-bar mode="query"></mat-progress-bar>
    <mat-card-title>
        Confirming E-Mail
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <p>Please wait while we confirm your E-Mail for the newsletter.</p>
        <mat-spinner></mat-spinner>
    </mat-card-content>
    }
    @if (serviceStatus === ServiceStatus.Success) {
    @if (reply?.confirmed) {
    <mat-card-title>
        <mat-icon class="icon-confirmed">notifications</mat-icon>E-Mail Confirmed
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <p>Your E-Mail address has been successfully confirmed for our newsletter. Thank you for subscribing!</p>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/" mat-raised-button color="primary">
            Home
        </button>
    </mat-card-actions>
    } @else {
    <mat-card-title>
        <mat-icon class="icon-confirmed-failed">error</mat-icon>Confirmation Failed
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <p>We could not confirm your subscription. Please try again or contact support for assistance.</p>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/" mat-raised-button color="primary">
            Home
        </button>
    </mat-card-actions>
    }
    }
</mat-card>
@if (serviceStatus === ServiceStatus.Error) {
<app-loading-failed></app-loading-failed>
}