mat-card {
    text-align: center;
}

mat-card-title {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

mat-card-subtitle {
    margin-left: 1rem;
    margin-right: 1rem;
}