mat-card {
    text-align: center;
//    min-width: 30%;
 //   max-width: 40%;
    width: 30rem;
}
mat-card-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}
mat-list-item {
    margin-bottom: 3rem;
}
mat-form-field {
    width: 100%;
}
