mat-card {
    text-align: center;
}

mat-card-title {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

mat-card-subtitle {
    margin-left: 1rem;
    margin-right: 1rem;
}

mat-icon {
    padding-right: 1rem;
}

button {
    font-size: 1.2rem;
    width: 100%;
    margin: 0.5rem;
}
