mat-card-title {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

mat-card-subtitle {
    text-align: center;
}

.addSeat-button {
    font-size: 1.2rem;
    width: 100%;
    margin: 0.5rem;
}
