<mat-card>
    <mat-card-title>
        Seats
    </mat-card-title>
    @if( seatListReply?.product_name && seatListReply?.product_type ) {
    <mat-card-subtitle>Invite users so they have access to {{seatListReply.product_name}}
        ({{seatListReply.product_type}})</mat-card-subtitle>
    }
    @if( getMaxSeats() > 0) {
    <mat-card-subtitle>{{getCurrentSeats()}}/{{getMaxSeats()}}</mat-card-subtitle>
    }
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            @if( seatListReply ) {
            @for (mail of seatListReply.email; track $index) {
            <mat-list-item>mail</mat-list-item>
            }
            }
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="addSeat()" [disabled]="!isAddSeatPossible()" mat-stroked-button color="primary">Invite</button>
        <button (click)="removeSeat()" [disabled]="!isRemoveSeatPossible()" mat-stroked-button>Delete</button>
    </mat-card-actions>
</mat-card>