<mat-card>
    @if ( loading ) {
    <mat-progress-bar mode="query"></mat-progress-bar>
    }
    <mat-card-title>
        Users
    </mat-card-title>
    @if (error) {
    <button class="reload-button" mat-button (click)="getSeatsList()">
        <mat-icon >refresh</mat-icon>Reload
    </button>
    }
    @if ( seatListReply && !error ) {
    @if( seatListReply?.totalResults && seatListReply?.maxSeats ) {
    <mat-card-subtitle>
        Used {{getUsedSeats()}}/{{getMaxSeats()}}
    </mat-card-subtitle>
    }
    <mat-divider></mat-divider>
    <mat-card-content>
        @if( seatListReply ) {
        <mat-list>
            @for (seat of seatListReply.seats; track $index) {
            <mat-list-item>{{seat.email}}</mat-list-item>
            }
        </mat-list>
        <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="seatListReply.totalResults"
            [pageSize]="pageSize" [disabled]="loading" [showFirstLastButtons]="showFirstLastButtons"
            [hidePageSize]="hidePageSize" [pageIndex]="seatListReply.pageIndex" aria-label="Select page">
        </mat-paginator>
        }
    </mat-card-content>
    <mat-card-actions>
        <button class="addSeat-button" (click)="addSeat()" [disabled]="!isAddSeatPossible()" mat-stroked-button
            color="primary">Invite</button>
    </mat-card-actions>
    }
</mat-card>