<mat-card>
    @if (serviceStatus === ServiceStatus.Loading) {
    <mat-progress-bar mode="query"></mat-progress-bar>
    <mat-card-title>
        <mat-icon>receipt</mat-icon> Invoices
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <ngx-skeleton-loader [theme]="{height: '1rem', width: '14rem'}" />
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    }
    @if (serviceStatus === ServiceStatus.Success) {
    <mat-card-title>
        <mat-icon>receipt</mat-icon> Invoices
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            @for (invoice of reply.invoices; track $index) {
            <mat-list-item>
                <button class="open-button" mat-button (click)="open(invoice)" matTooltip="Download invoice">
                    {{invoice.created * 1000 | date: 'dd.MM.yyyy'}}
                    <span class="total-spacing">{{invoice.total | currency: invoice.currency.toUpperCase() : 'symbol' :
                        '1.0-0'}}</span>
                    <mat-chip class="status-chip"
                        [ngStyle]="{'background-color': getStatusColor(invoice.status), 'border-color': getBorderColor(invoice.status)}">
                        <b>{{invoice.status | titlecase}}</b>
                    </mat-chip>
                </button>
            </mat-list-item>
            }
        </mat-list>
        @if( reply.totalResults > pageSize ) {
        <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="reply.totalResults" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [hidePageSize]="hidePageSize" [pageIndex]="reply.pageIndex"
            aria-label="Select page">
        </mat-paginator>
        }
    </mat-card-content>
    }
</mat-card>
@if ( serviceStatus === ServiceStatus.Error ) {
<app-loading-failed></app-loading-failed>
}