mat-card-title {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.open-button {
    width: 100%;
    margin: 0.5rem;
    justify-content: flex-start;
    text-align: left;
}

.total-spacing {
    margin-left: 2rem;
    margin-right: 2rem;
}

.status-chip {
    border-width: 1px;
    border-style: solid;
}

.status-draft {
    background-color: lightgray !important;
    border-color: darkgray !important;
}

.status-open {
    background-color: lightblue !important;
    border-color: darkblue !important;
}

.status-paid {
    background-color: lightgreen !important;
    border-color: darkgreen !important;
}

.status-uncollectible {
    background-color: red !important;
    border-color: darkred !important;
}

.status-void {
    background-color: lightgray !important;
    border-color: darkgray !important;
}