<div class="product-logo-div">
    <a href="https://nextcloud.com/" target="_blank">
        <img class="product-logo" src="assets/img/products/nextcloud_logo.png" alt="Synology.com">
    </a>
</div>
<h1>Choose a subscription that suits you.</h1>

<div class="pricing-table">
    <div class="pricing-option">
        <h1>Ruby</h1>
        <hr />
        <mat-list>
            <mat-list-item>
                <mat-icon>cloud</mat-icon>
                3TB
            </mat-list-item>
            <mat-list-item>
                <mat-icon>height</mat-icon>
                Scalable
            </mat-list-item>
            <mat-list-item>
                <mat-icon>event_available</mat-icon>
                30 days trial
            </mat-list-item>
            <mat-list-item>
                <mat-icon>person</mat-icon>
                1 user per subscription
            </mat-list-item>
        </mat-list>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">10€ <b>/month</b></span>
            </div>
            <div class="back">
                <a href="#" class="button">Subscribe</a>
            </div>
        </div>
    </div>

    <div class="pricing-option">

        <h1>Jade</h1>
        <hr />
        <mat-list>
            <mat-list-item>
                <mat-icon>cloud</mat-icon>
                6TB
            </mat-list-item>
            <mat-list-item>
                <mat-icon>height</mat-icon>
                Scalable
            </mat-list-item>
            <mat-list-item>
                <mat-icon>event_available</mat-icon>
                30 days trial
            </mat-list-item>
            <mat-list-item>
                <mat-icon>person</mat-icon>
                1 user per subscription
            </mat-list-item>
        </mat-list>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">15€ <b>/month</b></span>
            </div>
            <div class="back">
                <a href="#" class="button">Subscribe</a>
            </div>
        </div>
    </div>

    <div class="pricing-option">
        <h1>Royal</h1>
        <hr />
        <mat-list>
            <mat-list-item>
                <mat-icon>cloud</mat-icon>
                12TB
            </mat-list-item>
            <mat-list-item>
                <mat-icon>height</mat-icon>
                Scalable
            </mat-list-item>
            <mat-list-item>
                <mat-icon>event_available</mat-icon>
                30 days trial
            </mat-list-item>
            <mat-list-item>
                <mat-icon>person</mat-icon>
                1 user per subscription
            </mat-list-item>
        </mat-list>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">25€ <b>/month</b></span>
            </div>
            <div class="back">
                <a href="#" class="button">Subscribe</a>
            </div>
        </div>
    </div>

    <div class="pricing-option">
        <h1>Obsidian</h1>
        <hr />
        <mat-list>
            <mat-list-item>
                <mat-icon>cloud</mat-icon>
                24TB
            </mat-list-item>
            <mat-list-item>
                <mat-icon>height</mat-icon>
                Scalable
            </mat-list-item>
            <mat-list-item>
                <mat-icon>event_available</mat-icon>
                30 days trial
            </mat-list-item>
            <mat-list-item>
                <mat-icon>person</mat-icon>
                1 user per subscription
            </mat-list-item>
        </mat-list>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">50€ <b>/month</b></span>
            </div>
            <div class="back">
                <a href="#" class="button">Subscribe</a>
            </div>
        </div>
    </div>
</div>