mat-card-title {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

button {
    font-size: 1.2rem;
    width: 100%;
}

.icon-text {
    display: flex;
}

mat-icon {
    margin-right: 1rem;
    display: flex;
}

img {
    height: 1.5rem;
    margin-right: 1rem;
    vertical-align: middle;
}