::ng-deep .mat-mdc-snack-bar-container {
    &.snackbar-info {
        --mdc-snackbar-container-color: #279e53;
        --mdc-snackbar-supporting-text-color: #fff;

        #progress-bar {
             background-color: #279e53;
        }
    }

    &.snackbar-warn {
        --mdc-snackbar-container-color: #f4e136;
        --mdc-snackbar-supporting-text-color: #000;

        #progress-bar {
            background-color: #f4e136;
        }
    }

    &.snackbar-error {
        --mdc-snackbar-container-color: #F44336;
        --mdc-snackbar-supporting-text-color: #fff;

        #progress-bar {
            background-color: #fff;
        }
    }
}

.custom-snack-bar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

#progress-bar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}