mat-card {
    text-align: center;
}

mat-card-title {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

mat-icon {
    padding-right: 1rem;
}

button {
    font-size: 1.2rem;
    width: 100%;
}

.icon-text {
    display: flex;
}