<mat-card>
    <mat-card-title>
        Failed to process payment details
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div class="icon-text">
                    <mat-icon>mail</mat-icon>
                    You will soon recive an E-Mail with instructions on how to update payment details.
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="icon-text">
                    <mat-icon>published_with_changes</mat-icon>
                    Your Cloud is going to be prepared after your payment is processed.
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="icon-text">
                    <mat-icon>mail</mat-icon>
                    You will recive an E-Mail when your Cloud is ready.
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="icon-text">
                    <mat-icon>dashboard</mat-icon>
                    You can manage your Subscription in your Dashboard.
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/dashboard" mat-stroked-button color="primary">Dashboard</button>
    </mat-card-actions>
</mat-card>