<mat-card>
    <mat-card-title>
        Users
    </mat-card-title>
    @if( userListReply?.emails && userListReply?.max_users ) {
    <mat-card-subtitle>Used
        @if( getMaxUsers() > 0) {
        {{getCurrentUsers()}}/{{getMaxUsers()}}
        }
    </mat-card-subtitle>
    }
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            @if( userListReply ) {
            @for (email of userListReply.emails; track $index) {
            <mat-list-item>{{email}}</mat-list-item>
            }
            }
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="addUser()" [disabled]="!isAddUserPossible()" mat-stroked-button color="primary">Invite</button>
    </mat-card-actions>
</mat-card>