<mat-card>
      @if ( loading ) {
      <mat-progress-bar mode="query"></mat-progress-bar>
      }
      <mat-card-title><mat-icon>manage_accounts</mat-icon> Manage user</mat-card-title>
      <mat-card-subtitle>
            <div class="flex-container">
                  <mat-icon>person</mat-icon>{{seatDetailReply?.selectedSeat?.email}}
            </div>
      </mat-card-subtitle>
      <mat-card-content>
            <mat-label>Select roles:</mat-label>
            <mat-chip-listbox multiple class="mat-mdc-chip-set-stacked" formControlName="roles">
                  <mat-chip-option *ngFor="let role of allRoles" [selected]="seatWithUpdates?.roles.includes(role)"
                        [disabled]="shouldOwnerBeDisabled(role)" (click)="toggleRoleSelection(role)"
                        [matTooltip]="roleDescriptions[role]">
                        {{role}}
                  </mat-chip-option>
            </mat-chip-listbox>
            @if(seatDetailReply) {
            <div class="flex-container">
                  <div class="flex-item">
                        <button (click)="updateSeat()" mat-raised-button color="primary"
                              [disabled]="noRolesChanged()">
                              <mat-icon>check</mat-icon>Apply Changes</button>
                  </div>
                  <div class="flex-item">
                        <button mat-raised-button (click)="cancel()">
                              <mat-icon>close</mat-icon>Cancel</button>
                  </div>
                  <div class="flex-item">
                        <button mat-raised-button color="warn" [disabled]="disableButtonDelete()"
                              (click)="deleteSeat(seatDetailReply.selectedSeat)">
                              <mat-icon>delete</mat-icon>Delete</button>
                  </div>
            </div>
            }
      </mat-card-content>
</mat-card>