<div *ngIf="authService.isLoggedIn(false)">
    <div *ngIf="reply">
        <div class="flex-container">
            <div class="flex-item">
                <app-subscription-detail-card [reply]="reply"></app-subscription-detail-card>
            </div>
            <div class="flex-item">
                <app-seats [subscriptionID]="reply?.id"></app-seats>
            </div>
            <div class="flex-item">
                <app-billing-portal></app-billing-portal>
            </div>
            <div *ngIf="isEnding()" class="flex-item">
                <app-resume-subscription
                    (reloadSubscriptionDetail)="reloadSubscriptionDetail()"></app-resume-subscription>
            </div>
            <div *ngIf="!isEnding()" class="flex-item">
                <app-cancel-subscription
                    (reloadSubscriptionDetail)="reloadSubscriptionDetail()"></app-cancel-subscription>
            </div>
        </div>
    </div>
</div>