<div *ngIf="authService.user as user">
    <div *ngIf="subscriptionDetail">
        <div class="flex-container">
            <div class="flex-item">
                <app-subscription-detail-card [subscriptionDetail]="subscriptionDetail"></app-subscription-detail-card>
            </div>
            <div class="flex-item">
                <app-billing-portal></app-billing-portal>
            </div>
            <div class="flex-item">
                <app-resume-subscription></app-resume-subscription>
            </div>
            <div class="flex-item">
                <app-cancel-subscription></app-cancel-subscription>
            </div>
        </div>
    </div>
</div>