<mat-divider></mat-divider>
<footer>
    <mat-list>
        <mat-list-item>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
                <ul fxLayout="row">
                    <li>
                        <a routerLink="/privacy">Privacy Policy</a>
                    </li>
                </ul>
                <ul fxLayout="row">
                    <li>
                        <a routerLink="/imprint">Imprint</a>
                    </li>
                </ul>
                <ul fxLayout="row">
                    <li>
                        <a routerLink="/legal">Legal</a>
                    </li>
                </ul>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
                <ul fxLayout="row">
                    <li>
                        &copy; 2022 <a routerLink="/">ScaleCloud.de</a>
                    </li>
                </ul>
            </div>
        </mat-list-item>
    </mat-list>
</footer>