<mat-divider></mat-divider>
<footer>
    <mat-list>
        <mat-list-item>
            <div class="grid-container">
                <a class="grid-item" routerLink="/privacy-policy">Privacy Policy</a>
                <a class="grid-item" routerLink="/imprint">Imprint</a>
                <a class="grid-item" routerLink="/legal">Legal</a>
                <a class="grid-item" routerLink="/terms">Terms</a>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div class="grid-container">
                <a class="grid-item" routerLink="/">&copy; 2022 ScaleCloud.de</a>
            </div>
        </mat-list-item>
    </mat-list>
</footer>