<p>This Website is currently under construction. Please come back later.</p>
<p>Add following terms (https://stripe.com/docs/payments/save-during-payment?platform=web):</p>
<ul>
    <li>The customer’s agreement to your initiating a payment or a series of payments on their behalf for specified transactions.</li>
    <li>The anticipated timing and frequency of payments (subscription payments).</li>
    <li>How you determine the payment amount.</li>
    <li>Your cancellation policy, if the payment method is for a subscription service.</li>
  </ul> 