mat-card {
    text-align: center;
}

mat-card-title {
    font-size: 2rem;
    margin: 0.5rem;
}

mat-icon {
    padding-right: 0.5rem;
}

mat-card-subtitle {
    font-size: xx-large;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 0.5rem;
}

.price-month {
    font-size: 1rem;
}

button {
    width: 100%;
    font-size: 1.2rem;
}

.icon-text {
    display: flex;
    justify-content: center;
}

.user-count {
    display: flex;
    margin-top: 0.5rem;
}

s {
    color: red;
}