<div fxLayoutAlign="space-evenly">
    <mat-card>
        <mat-card-title>
            {{getName()}}
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div class="icon-text">
                        <mat-icon>cloud</mat-icon>
                        {{getStorageAmount()}}{{getStorageUnit()}}
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="icon-text">
                        <mat-icon>height</mat-icon>
                        Scalable
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="icon-text">
                        <mat-icon>event_available</mat-icon>
                        {{getTrialDays()}}&nbsp;days trial
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="icon-text">
                        <div class="user-count">
                            <mat-icon>person</mat-icon>
                            <mat-label>User count:</mat-label>
                        </div>
                        <app-quantity></app-quantity>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
        <mat-card-subtitle>
            {{getPricePerMonth()}}
            <span class="price-month">/month</span>
        </mat-card-subtitle>
        <mat-card-actions>
            <button (click)="startSubscription()" mat-stroked-button
                color="primary">SUBSCRIBE<mat-icon>lock</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>