<div fxLayoutAlign="space-evenly">
    <mat-card>
        <mat-card-title>Testen Sie Ruby</mat-card-title>
        <mat-card-subtitle>

        </mat-card-subtitle>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <p class="trial">30 Tage kostenlos</p>
                </mat-list-item>
                <mat-list-item>
                    <p class="price-after">danach {{getPrice() * getQuantity() | currency:'EUR' : 'symbol' :
                        '1.0-0'}}<span class="price-month">/month</span></p>
                </mat-list-item>
                <mat-list-item>
                    <mat-label>User count:</mat-label>
                    <app-quantity></app-quantity>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>