<div fxLayoutAlign="space-evenly">
    <mat-card>
        <mat-card-title>You have cancelled your checkout.</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                        <p>
                            If you wish, you can explore other subscriptions.
                        </p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/" mat-raised-button color="primary">
                Home
            </button>
        </mat-card-actions>
    </mat-card>
</div>