<mat-card routerLink="/dashboard/subscription/}">
    <mat-card-title>
        Customer Portal
    </mat-card-title>
    <mat-card-subtitle>What you can do:</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-icon>event_busy</mat-icon>
                Cancel subscriptions.
            </mat-list-item>
            <mat-list-item>
                <mat-icon>add_card</mat-icon>
                Update payment methods.
            </mat-list-item>
            <mat-list-item>
                <mat-icon>receipt_long</mat-icon>
                View current and past invoice history<br>and download invoices.
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/dashboard/subscription/" mat-stroked-button color="primary">Open Customer Portal</button>
    </mat-card-actions>
</mat-card>