<mat-card>
  <mat-card-content>
    <div class="flex-container">
      <p>Already got an account?</p>
      <div class="flex-item">
        <button (click)="openUrlKeepReturnUrl()" mat-stroked-button>Login</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex-container">
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>E-Mail:</mat-label>
          <input type="email" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" matInput placeholder="E-Mail" required>
            @if (submitted && f.email.errors) {
              <div class="invalid-feedback">
                @if (f.email.errors.required) {
                  <mat-error>{{getErrorMessageEMailRequired()}}</mat-error>
                }
                @if (f.email.errors.email) {
                  <mat-error>{{getErrorMessageEMailNotValid()}}</mat-error>
                }
              </div>
            }
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password:</mat-label>
            <input type="password" #password formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" matInput placeholder="Password" name="password"
              required>
              @if (submitted && f.password.errors) {
                <div class="invalid-feedback">
                  @if (f.password.errors.required) {
                    <mat-error>{{getErrorMessagePasswordRequired()}}</mat-error>
                  }
                  @if (f.password.errors.minlength) {
                    <mat-error>{{getErrorMessagePasswordMinLength()}}</mat-error>
                  }
                </div>
              }
            </mat-form-field>
            <app-password-strength class="passwordStrength" #passwordStrength
            [password]="password.value"></app-password-strength>
            <div class="space"></div>
            <mat-form-field appearance="fill">
              <mat-label>Confirm password:</mat-label>
              <input type="password" #confirmPassword formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" matInput placeholder="Confirm password"
                name="password" required>
                @if (submitted && f.confirmPassword.errors) {
                  <div class="invalid-feedback">
                    @if (f.confirmPassword.errors.required) {
                      <mat-error>{{getErrorMessagePasswordConfirmRequired()}}
                      </mat-error>
                    }
                    @if (f.confirmPassword.errors.matching) {
                      <mat-error>{{getErrorMessagePasswordConfirmMatch()}}
                      </mat-error>
                    }
                  </div>
                }
              </mat-form-field>
              <app-password-match #passwordMatch [password]="password.value" [confirmPassword]="confirmPassword.value">
              </app-password-match>
              <div class="space"></div>
              <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">I have read and agree to the Terms</label>
                @if (submitted && f.acceptTerms.errors) {
                  <div class="invalid-feedback">
                    <span class="terms">Accept Terms is required</span>
                  </div>
                }
                <div class="space"></div>
                <div class="flex-container">
                  <div class="flex-item">
                    <button type="submit" mat-raised-button color="primary">Register</button>
                  </div>
                </div>
              </mat-card-content>
            </div>
          </form>
        </mat-card>