<mat-card>
  <mat-card-content>
        <div class="flex-container">
              <p>Already got an account?</p>
              <div class="flex-item">
                    <button routerLink="/login" mat-stroked-button>Login</button>
              </div>
        </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex-container">
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>E-Mail:</mat-label>
          <input type="email" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" matInput placeholder="E-Mail" required>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <mat-error *ngIf="f.email.errors.required">{{getErrorMessageEMailRequired()}}</mat-error>
            <mat-error *ngIf="f.email.errors.email">{{getErrorMessageEMailNotValid()}}</mat-error>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password:</mat-label>
          <input type="password" #password formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" matInput placeholder="Password" name="password"
            required>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <mat-error *ngIf="f.password.errors.required">{{getErrorMessagePasswordRequired()}}</mat-error>
            <mat-error *ngIf="f.password.errors.minlength">{{getErrorMessagePasswordMinLength()}}</mat-error>
          </div>
        </mat-form-field>
        <app-password-strength class="passwordStrength" #passwordStrength
          [password]="password.value"></app-password-strength>
        <div class="space"></div>
        <mat-form-field appearance="fill">
          <mat-label>Confirm password:</mat-label>
          <input type="password" #confirmPassword formControlName="confirmPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" matInput placeholder="Confirm password"
            name="password" required>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <mat-error *ngIf="f.confirmPassword.errors.required">{{getErrorMessagePasswordConfirmRequired()}}
            </mat-error>
            <mat-error *ngIf="f.confirmPassword.errors.matching">{{getErrorMessagePasswordConfirmMatch()}}
            </mat-error>
          </div>
        </mat-form-field>
        <app-password-match #passwordMatch [password]="password.value" [confirmPassword]="confirmPassword.value">
        </app-password-match>
        <div class="space"></div>
        <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
          [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
        <label for="acceptTerms" class="form-check-label">I have read and agree to the Terms</label>
        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
          <span class="terms">Accept Terms is required</span>
        </div>
        <div class="space"></div>
        <div class="flex-container">
          <div class="flex-item">
            <button type="submit" mat-raised-button color="primary">Register</button>
          </div>
          <div class="flex-item">
            <button mat-stroked-button>Login</button>
          </div>
        </div>
      </mat-card-content>
    </div>
  </form>
</mat-card>