 mat-card {
     text-align: center;
     width: 30rem;
 }

 mat-card-title {
     font-size: 2rem;
     margin-bottom: 2rem;
 }

 mat-list-item {
     margin-top: 2rem;
 }

 mat-form-field {
     width: 100%;
 }