mat-card {
    text-align: center;
    width: 30rem;
}
mat-card-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}
mat-list-item {
    margin-bottom: 3rem;
}
mat-form-field {
    width: 100%;
}

.password-strength-container {
    margin-top: 4rem;
    margin-bottom: 3rem;
}