.app-shell {
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}