mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

body {
  display: flex;
  flex-direction: column;
}

content {
  flex: 1;
}