<body>
    <app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
    <mat-progress-bar *ngIf="isLoading()" mode="indeterminate"></mat-progress-bar>
    <content>
        <mat-drawer-container>
            <mat-drawer mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
                <app-sidebar [isExpanded]="isExpanded" [isShowing]="isShowing"></app-sidebar>
            </mat-drawer>
            <mat-drawer-content>
                <router-outlet></router-outlet>
            </mat-drawer-content>
        </mat-drawer-container>
    </content>
    <app-footer></app-footer>
</body>