<mat-card>
      <mat-card-title>Invite user</mat-card-title>
      <mat-card-content>
            <mat-form-field appearance="fill">
                  <mat-label>E-Mail:</mat-label>
                  <input type="email" matInput placeholder="E-Mail" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessageEMail()}}</mat-error>
            </mat-form-field>
            <mat-label>Select roles:</mat-label>
            <mat-chip-listbox multiple class="mat-mdc-chip-set-stacked" formControlName="roles">
                  <mat-chip-option *ngFor="let role of inviteUserRoles" [selected]="selectedRoles.includes(Roles[role])"
                        (click)="toggleRoleSelection(Roles[role])" [matTooltip]="roleDescriptions[Roles[role]]">
                        {{role}}
                  </mat-chip-option>
            </mat-chip-listbox>
            <div class="flex-container">
                  <div class="flex-item">
                        <button (click)="addSeat()" mat-raised-button color="primary">Invite</button>
                  </div>
            </div>
      </mat-card-content>
</mat-card>