<mat-card *ngIf="nextcloudProduct != undefined || synologyProduct != undefined">
    <mat-card-title>
        <div *ngIf="nextcloudProduct != undefined">
            {{nextcloudProduct.name}}
        </div>
        <div *ngIf="synologyProduct != undefined">
            {{synologyProduct.name}}
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-icon>cloud</mat-icon>
                <div *ngIf="nextcloudProduct != undefined">
                    {{nextcloudProduct.storageAmount}}TB
                </div>
                <div *ngIf="synologyProduct != undefined">
                    {{synologyProduct.storageAmount}}TB
                </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>height</mat-icon>
                Scalable
            </mat-list-item>
            <mat-list-item>
                <mat-icon>event_available</mat-icon>
                <div *ngIf="nextcloudProduct != undefined">
                    {{nextcloudProduct.trialDays}} days trial
                </div>
                <div *ngIf="synologyProduct != undefined">
                    {{synologyProduct.trialDays}} days trial
                </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>person</mat-icon>
                <div *ngIf="nextcloudProduct != undefined">
                    {{nextcloudProduct.usersPerSubscription}} user per subscription
                </div>
                <div *ngIf="synologyProduct != undefined">
                    {{synologyProduct.usersPerSubscription}} user per subscription
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
    <mat-card-subtitle>
        <span *ngIf="nextcloudProduct != undefined">
            {{nextcloudProduct.pricePerMonth}}€
        </span>
        <span *ngIf="synologyProduct != undefined">
            {{synologyProduct.pricePerMonth}}€
        </span>
        <span class="price-month">/month</span>
    </mat-card-subtitle>
    <mat-card-actions>
        <button mat-stroked-button color="primary">SUBSCRIBE</button>
    </mat-card-actions>
</mat-card>