<mat-card *ngIf="nextcloudProduct != undefined || synologyProduct != undefined">
    <mat-card-title>
        <div *ngIf="nextcloudProduct != undefined">
            {{nextcloudProduct.name}}
        </div>
        <div *ngIf="synologyProduct != undefined">
            {{synologyProduct.name}}
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-icon>
                    <div *ngIf="nextcloudProduct != undefined">
                        {{nextcloudProduct.storageIcon}}
                    </div>
                    <div *ngIf="synologyProduct != undefined">
                        {{synologyProduct.storageIcon}}
                    </div>
                </mat-icon>
                <div *ngIf="nextcloudProduct != undefined">
                    {{nextcloudProduct.storageAmount}}{{nextcloudProduct.storageUnit}}
                </div>
                <div *ngIf="synologyProduct != undefined">
                    {{synologyProduct.storageAmount}}{{synologyProduct.storageUnit}}
                </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <div *ngIf="nextcloudProduct != undefined">
                        {{nextcloudProduct.scalableIcon}}
                    </div>
                    <div *ngIf="synologyProduct != undefined">
                        {{synologyProduct.scalableIcon}}
                    </div>
                </mat-icon>
                Scalable
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <div *ngIf="nextcloudProduct != undefined">
                        {{nextcloudProduct.trialIcon}}
                    </div>
                    <div *ngIf="synologyProduct != undefined">
                        {{synologyProduct.trialIcon}}
                    </div>
                </mat-icon>
                <div *ngIf="nextcloudProduct != undefined">
                    {{nextcloudProduct.trialDays}}
                </div>
                <div *ngIf="synologyProduct != undefined">
                    {{synologyProduct.trialDays}}
                </div>
                &nbsp;days trial
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <div *ngIf="nextcloudProduct != undefined">
                        {{nextcloudProduct.usersIcon}}
                    </div>
                    <div *ngIf="synologyProduct != undefined">
                        {{synologyProduct.usersIcon}}
                    </div>
                </mat-icon>
                <div *ngIf="nextcloudProduct != undefined">
                    {{nextcloudProduct.usersAmount}}
                </div>
                <div *ngIf="synologyProduct != undefined">
                    {{synologyProduct.usersAmount}}
                </div>
                &nbsp;user per subscription
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
    <mat-card-subtitle>
        <span *ngIf="nextcloudProduct != undefined">
            {{nextcloudProduct.pricePerMonth | currency:'EUR' : 'symbol' : '1.0-0'}}
        </span>
        <span *ngIf="synologyProduct != undefined">
            {{synologyProduct.pricePerMonth | currency:'EUR' : 'symbol' : '1.0-0'}}
        </span>
        <span class="price-month">/month</span>
    </mat-card-subtitle>
    <mat-card-actions>
        <button (click)="checkout()" mat-stroked-button color="primary">SUBSCRIBE</button>
    </mat-card-actions>
</mat-card>