<mat-card>
  @if (serviceStatus === ServiceStatus.Loading) {
    <mat-progress-bar mode="query"></mat-progress-bar>
    <mat-card-title>
      <ngx-skeleton-loader [theme]="{height: '2rem', width: '50%'}" />
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <ngx-skeleton-loader [theme]="{height: '1rem', width: '5rem'}" />
        </mat-list-item>
        <mat-list-item>
          <ngx-skeleton-loader [theme]="{height: '1rem', width: '6rem'}" />
        </mat-list-item>
        <mat-list-item>
          <ngx-skeleton-loader [theme]="{height: '1rem', width: '8rem'}" />
        </mat-list-item>
        <mat-list-item>
          <ngx-skeleton-loader [theme]="{height: '3rem', width: '11rem'}" />
        </mat-list-item>
        <mat-list-item>
          <ngx-skeleton-loader [theme]="{height: '2rem', width: '6rem'}" />
        </mat-list-item>
        <mat-list-item>
          <ngx-skeleton-loader [theme]="{height: '2rem', width: '12rem'}" />
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  }
  @if (serviceStatus === ServiceStatus.Success) {
    <mat-card-title>
      {{getName()}}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div class="icon-text">
            <mat-icon>cloud</mat-icon>
            {{getStorageAmount()}}{{getStorageUnit()}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="icon-text">
            <mat-icon>height</mat-icon>
            Scalable
          </div>
        </mat-list-item>
        @if(hasPaymentMethod()) {
          <mat-list-item>
            <div class="icon-text">
              <mat-icon>event_available</mat-icon>
              @if (getIsTrialIncluded()) {
                {{getTrialDays()}}&nbsp;days trial*
              } @else {
                <div class="no-trial">
                  <s>
                    {{getTrialDays()}}&nbsp;days trial*
                  </s>
                </div>
              }
            </div>
          </mat-list-item>
        }
        <mat-list-item>
          <div class="icon-text">
            <div class="user-count">
              <mat-icon>person</mat-icon>
              <mat-label>User count:</mat-label>
            </div>
            <app-quantity></app-quantity>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
    <mat-card-subtitle>
      {{getPricePerMonth()}}<span class="price-month">/month</span>
    </mat-card-subtitle>
    <mat-card-actions>
      <button (click)="startSubscription()" mat-stroked-button color="primary"
        [disabled]="!(hasPaymentMethod())">Subscribe<mat-icon>payment</mat-icon></button>
      </mat-card-actions>
    }
  </mat-card>
  @if ( serviceStatus === ServiceStatus.Error ) {
    <app-loading-failed></app-loading-failed>
  }