<div>
    <h1>Imprint</h1>
    <mat-divider></mat-divider>
    <h2>
        <a class="a-undecorated" routerLink="/contact">
            Contact:
        </a>
    </h2>
    <p>
        <strong>
            ScaleCloud.de GmbH
        </strong><br>
        Streetname ??<br>
        ????? Flensburg<br>
        Germany
    </p>
    <p>Web:
        <a class="a-undecorated" routerLink="/">
            ScaleCloud.de
        </a>
    </p>
    <p>E-Mail:
        <a href="mailto:info@scalecloud.de?subject=Message%20per%20scalecloud.de">
            info@scalecloud.de
        </a>
    </p>
    <p>
        CEO: Oke Dreja<br>
        Register Court: Local court Flensburg<br>
        Registration number: HRB ????<br>
    </p>
    <h2>Finance:</h2>
    <p>VAT Reg. No. DE ?????????</p>
    <h3>Bank details:</h3>
    <p>Recipient: ScaleCloud.de GmbH<br>
        IBAN: DE???????<br>
        Kreditinstitut: ?????????</p>
    <h2>Online dispute resolution:</h2>
    <p>Online dispute resolution in accordance with Article 14, Paragraph 1 of the ODR-VO (Online Dispute Resolution
        Regulations): The European Commission has established a platform for online dispute resolution (ODR). You can
        visit the platform at
        <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">
            https://ec.europa.eu/consumers/odr
        </a>
        .
        We are neither committed nor willing to participate in the dispute resolution process.
    </p>
</div>