@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.snackbar-info {
    --mdc-snackbar-container-color: rgb(39, 158, 83);
}

.snackbar-warn {
    --mdc-snackbar-container-color: #f4e136;
}

.snackbar-error {
    --mdc-snackbar-container-color: #F44336;
}