<mat-card routerLink="/dashboard/subscription/{{getID()}}">
    <mat-card-title>
        {{getProductName()}}
    </mat-card-title>
    <mat-card-subtitle>{{getProductType()}}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item matTooltip="ID of the subscription.">
                <div class="icon-text">
                    <mat-icon>numbers</mat-icon>
                    {{getID()}}
                </div>
            </mat-list-item>
            <mat-list-item matTooltip="Total amount of storage available in the subscription.">
                <div class="icon-text">
                    <mat-icon>cloud</mat-icon>
                    Storage: {{getTotalStorageAmount()}} TB
                </div>
            </mat-list-item>
            <mat-list-item matTooltip="Total amount of users available in the subscription.">
                <div class="icon-text">
                    <mat-icon>person</mat-icon>
                    Users: {{getUserCount()}}
                </div>
            </mat-list-item>
            <mat-list-item matTooltip="Monthly cost for all users in the subscription.">
                <div class="icon-text">
                    <mat-icon>payments</mat-icon>
                    Cost: {{getTotalPricePerMonth() / 100 | currency:getCurrency() : 'symbol' : '1.0-0'}}
                    <span class="price-month">/month</span>
                </div>
            </mat-list-item>
            <div *ngIf="isTrailing()">
                <mat-list-item matTooltip="The date when the trial ends.">
                    <div class="icon-text">
                        <mat-icon>
                            credit_card_off
                        </mat-icon>
                        Trial until: {{getTrailingEnd() * 1000 | date }}
                    </div>
                </mat-list-item>
            </div>
            <div *ngIf="isCancelAtPeriodEnd()">
                <mat-list-item matTooltip="The date when the subscription will be canceled.">
                    <div class="icon-text">
                        <mat-icon>
                            event_busy
                        </mat-icon>
                        Termination date: {{getCancelAt() * 1000 | date }}
                    </div>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>